<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{dis}}</p>
        <img class="portrait" src="./img/bf.jpg" alt="">
    </div>
    

    {{>footer}}
</body>
</html>
